html,
body {
    background: linear-gradient(0deg,rgba(12, 3, 3, 0.932),rgba(165, 147, 147, 0.932), rgba(12, 3, 3, 0.932));
   min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
}

main {
   font-size: 20px;
    width: 900px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(180, 105, 105, 0.932);
    color: black;
   }
   .name {
    font-size: 24px;
   }


#section1, #section2{
    display: flex;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.other {
    list-style: none;
    margin-right: 40px;
}

.lists {
    display: flex;
    justify-content: center;
   
    
}

img {
   
    border-radius: 10px;
}

.skills {
    list-style: none;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px;
    padding: 7px;
    text-align: center;
}


.text, .text2 {
  width: 50%;
  margin-left: 30px;
}

h2 {
    margin-left: 30px;
    margin-top: 100px; 
}